@font-face {
    font-family: "heaters";
    src: url("../heaters/Heaters.otf") format("opentype"),
}

body{
    -webkit-font-smoothing: antialiased;
    background-color: noir !important;
    font-family: 'Mukta', sans-serif;
    color: white;
}

#homepage_content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.name{
    display: flex;
}

.name h3{
    font-size: 25px;
    margin: 8px 3px;
}

.name :last-child{
    font-weight: bold;
}

.homepage_portfolio{
  width: 50vw;
  cursor: none;
}

button{
    background: none;
    border: none;
    color: white;
    border: 1px solid white;
    padding: 5px 10px;
    font-size: 1em;
    border-radius: 6px;
    font-family: 'Mukta', sans-serif;
    text-transform: uppercase;
    width: 10rem;
    height: auto;
    font-weight: bold;
}

button:hover{
    -webkit-animation: fade-color 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            animation: fade-color 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}

#header_portfolio{
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 20px);
  text-align: center;
  font-weight: bold;
  opacity: 0;
  z-index: 100;
}

#header_portfolio ul{
  display: flex;
  width: 50vw;
  justify-content: space-around;
}

#header_portfolio li{
  text-transform: uppercase;
}

#header_portfolio li:hover{
  text-decoration: underline;
  cursor: pointer;
}

#about_me{
  position: absolute;
  top: 40%;
  left: 73%;
  transform: translate(-50%, -50%);
  text-align: right;
  opacity: 0;
  width: 40vw;
  font-size: 18px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

#about_me h2{
  font-weight: bold;
  text-transform: uppercase;
  padding: 80px 0 20px;
}

#about_me p{
  padding: 10px 0;
}

#skills_container{
  display: flex;
  width: 70%;
  max-width: 400px;
  flex-wrap: wrap;
  justify-content: right;
  /* background-color: #de9c74; */
}

.skill_language{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo{
  width: 40%;
  max-width: 55px;
  padding: 10px
}

#projects{
  opacity: 0;
  position: absolute;
  display: none;
  top: calc(25% + 80px);
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  max-height: 85%;
  width: 80%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  overflow-y: auto;
}

.project_card{
  height: 250px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 30px;
}

.project_img:hover{
  cursor: pointer;;
}

.project_img{
  max-width: 230px;
  border: 1px solid white;
}

.project_title{
  padding: 10px;
  font-weight: bold;
}

.project_logo{
  width: 40%;
  max-width: 25px;
  padding: 10px
}

#contacts{
  opacity: 0;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 80%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#contacts a{
  display: flex;
  align-items: center;
  justify-content: left;
  max-height: 100vh;
}

#contacts li:hover{
  cursor: pointer;
}

#contacts p{
  font-weight: bold;
  font-size: 25px;
}

a:-webkit-any-link{
  max-height: 250px;
}


.tracking-in-expand-fwd {
	-webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.scale-in-center {
	-webkit-animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.fade-out {
	-webkit-animation: fade-out 1s ease-out both;
	        animation: fade-out 1s ease-out both;
}

.fade-in {
	-webkit-animation: fade-in 1s ease-out both;
	        animation: fade-in 1s ease-out both;
}



/* ----------------------------------------------
 * Generated by Animista on 2022-6-15 17:17:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }

  @-webkit-keyframes fade-color {
    0% {
      background-color: #de9d7400;
    }
    100% {
        background-color: #de9c74;
    }
  }
  @keyframes fade-color {
    0% {
        background-color: #de9d7400;
    }
    100% {
        background-color: #de9c74;
    }
  }


/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation fade-out
 * ----------------------------------------
 */
 @-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (orientation: portrait) {

  #header_portfolio ul{
    width: 90vw;
  }

  #about_me{
    width: 90vw;
    max-height: 90vh;
    margin-top: 20px;
    left: 50%;
    text-align: center;
    font-size: 16px;
    overflow-y: auto;
  }

  #skills_container{
    width: 90vw;
    font-size: 15px;
  }

  .logo{
    width: 33%;
    padding: 5px
  }
}
